 <div class="container">
  <div class="row grid-ctn">
    <div class="col-sm-8 left-container">
      <h1>1 account for all your apps</h1>
      <div>
      	<img src="/assets/unnamed-4.png">
      	<img src="/assets/unnamed-6.png">
      	<img src="/assets/unnamed-5.png">
      </div>
      <div class="introMsg">
      	<h2>Salute!</h2>
      	<p>Thanks for joining Code Ar.my</p>
      	<p>By activating your account, you will gain access to a network of CTOs,coaches & mentors who will be helping you on your journey to startup success!</p>
      	<p>Once activated, you can log in again anytime</p>
      </div>
    </div>

    <div class="col-sm-4 right-container">
      <h3>Create your Code Ar.my</br> Password </h3>
      <form class="activate-form">
        <div class="form-group">
          <input type="password" class="form-control" placeholder="New Password">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Confirm Password">
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox"> I have read and accepted the <a href="http://www.codearmy.com/terms-of-use/">Term of Service</a>
          </label>
        </div>
        <button type="submit" class="btn btn-activate">Activate Account</button>
      </form>
    </div>
  </div>
</div>