 <div class="container">
 <div class="row grid-ctn">
     <div class="col-md-8 left-container">
      This is 8 
     </div>

     <div class="col-md-4 right-container">
        <h3>Create your Code Ar.my</br> Password </h3>

        <form class="activate-form">
          <div class="form-group">
            <input type="password" class="form-control" placeholder="New Password">
          </div>
          <div class="form-group">
            <input type="password" class="form-control" placeholder="Confirm Password">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"> I have read and accepted the <a href="http://www.codearmy.com/terms-of-use/">Term of Service</a>
            </label>
          </div>
          <button type="submit" class="btn btn-activate">Activate Account</button>
        </form>
     </div>
  </div>
</div>