 <div class="row grid-ctn">
     <div class="col-md-8 left-container">
      <h1>1 account for all your apps</h1>
      <div>
      	<img src="/assets/unnamed-4.png">
      	<img src="/assets/unnamed-6.png">
      	<img src="/assets/unnamed-5.png">
      </div>
      <div class="introMsg">
      	<h2>Salute!</h2>
      	<p>Thanks for joining Code Ar.my</p>
      	<p>By activating your account, you will gain access to a network of CTOs,coaches & mentors who will be helping you on your journey to startup success!</p>
      	<p>Once activated, you can log in again anytime</p>
      </div>
     </div>

     <div class="col-md-4 right-container">
      This is 4
     </div>
  </div>