 <div class="row grid-ctn">
     <div class="col-md-8 left-container">
      <h1>1 account for all your apps</h1>
      <div class="jumbotron">
      	<img src="/assets/unnamed-4.png">
      </div>
     </div>

     <div class="col-md-4 right-container">
      This is 4
     </div>
  </div>