 <div class="container">
  <div class="row grid-ctn">
    <div class="col-sm-8 left-container">
      <h1>Setup your Profile</h1>
      <div>
      	<img src="/assets/unnamed-4.png">
      	<img src="/assets/unnamed-6.png">
      	<img src="/assets/unnamed-5.png">
      </div>
    </div>

    <div class="col-sm-4 right-container">
      <div class="setup-pic">
        <img src="/assets/unnamed-2.png">
        <button class="btn btn-primary" type="submit">Upload Photo</button>
      </div>

      <div class="setup-form">
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="fName" placeholder="First Name">
            <input type="text" class="form-control" id="lName" placeholder="Last Name">
            <input type="tel" class="form-control" id="Tel" placeholder="Mobile Number">
            <button type="submit" class="btn btn-activate">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>