@font-face {
  font-family: 'Ruda';
  src: url('Ruda.eot?#iefix') format('embedded-opentype'),  
       url('Ruda.woff') format('woff'), 
       url('Ruda.ttf')  format('truetype'), 
       url('Ruda.svg#Ruda') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Ruda-Black';
  src: url('Ruda-Black.eot?#iefix') format('embedded-opentype'),  url('Ruda-Black.woff') format('woff'), url('Ruda-Black.ttf')  format('truetype'), url('Ruda-Black.svg#Ruda-Black') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Ruda-Bold';
  src: url('Ruda-Bold.eot?#iefix') format('embedded-opentype'),  url('Ruda-Bold.woff') format('woff'), url('Ruda-Bold.ttf')  format('truetype'), url('Ruda-Bold.svg#Ruda-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

