.grid-ctn {
	margin-top: 30px;
}

.left-container {
	border:2px solid red;
}

.right-container {
	border:2px solid grey;
  text-align: center;
  font-family: ruda;
  padding-top: 10px;
  background-color: #eff2f9;
}

.activate-form {
  margin-top: 30px;

}

.btn-activate {
  color: white;
  background-color: #f9903e;
  border-radius: 0;
  height: 45px;
}
