.setup-pic {
	margin-bottom: 30px;

	img {
		margin-top: 25px;
		width: 30%;
	}

	button {
		border-radius:0;
		display: block;
		width: 35%;
		margin: 20px auto;
	}
	
}

.setup-form {
	
	input {
		margin-bottom: 20px;	
	}

	button {
		width:30%;
	}
	
}

