<nav class="navbar navbar-default navbar-lg">
    <div class="container container1">
        <img alt="Brand" src="assets/CA-H-transparent.png">
    </div>
      <div class="container container2">
          <img alt="Brand" src="assets/unnamed-2.png">
          <button type="button" class="btn btn-default dropdown-toggle btn-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Go To 
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dd-menu">
            <li><a href="#"><img src="/assets/CA-Vwhite.png">Command Center<p>'ve received 3 new messages</p></a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#"><img src="/assets/CA-X-black.png">X-Scouting<p>What the hell's a gigawatt?...</p></a></li>
            <li role="separator" class="divider"></li>

            <button class="btn btn-default pull-right dd-logout" type="submit">Log Out</button>
          </ul>
      </div>

</nav>

<nav class="navbar navbar-default navbar-2">
  <div class="container-fluid">
    <p class="navbar-text navbar-left navbar-3">My Account</p>
  </div>
</nav>
