<nav class="navbar navbar-default navbar-lg">

    <div class="container container1">
        <img alt="Brand" src="assets/CA-H-transparent.png">
    </div>

      <div class="container container2">
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle btn-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Go To 
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <img alt="Brand" src="assets/unnamed-2.png">
      </div>
</nav>







<nav class="navbar navbar-default navbar-2">
  <div class="container-fluid">
    <p class="navbar-text navbar-left navbar-3">My Account</p>
  </div>
</nav>
